<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <title>Портфолио</title>
  </head>
  <body>
    <header class="header">
      <nav class="header__nav main-nav">
        <ul class="main-nav__list main-list">
          <li class="main-list__item list-item">
            <a class="list-item__link" href="#home">Главная</a>
          </li>
          <li class="main-list__item list-item">
            <a class="list-item__link" href="#about">Обо мне</a>
          </li>
          <li class="main-list__item list-item">
            <a class="list-item__link" href="#skills">Мой опыт</a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="main">
      <!-- Секция превью -->
      <section class="main__home home" id="home">
        <h1 class="home__title">ДАНИИЛ</h1>
        <p class="home__subtitle">WEB-РАЗРОБОТЧИК, ПРОГРАММИСТ-PYTHON</p>
      </section>
      <!-- Секция с рассказом о себе -->.
      <section class="main__about about" id="about">
        <h2 class="about__title">ОБО МНЕ</h2>
        <div class="about__info info-block">
          <h3 class="info-block__text">
            Я очень малоопытный программист, который интересуется компьютерами.
            Имею очень малый опыт в программировании, но я уверен что научусь большему.
            В планах научится идеально понимать работу компьютера, и затем научится программировать на C.
            В будущем, когда научюсь всему - чему хотел, буду разрабатывать игры, просто полезные программы и, возможно, свою ОС, но это только в будущем.
          </h3>
          <img
            class="info-block__img"
            src="../static/img/profile.png"
            alt="me"
            width="1000"
            height="300"
          />
        </div>
      </section>
      <!-- Секция со скиллами -->
      <section class="main__skills skills" id="skills">
        <h2 class="skills__title">MY SKILLS</h2>
        <form action="/" method="POST">
          <ul class="skills__list skills-list">
            <li class="skills-list__skill skill">
              <img
                class="skill__img"
                src="../static/img/python.png"
                alt="python"
                width="150"
                height="150"
              />
              <span class="skill__info">python-проект</span>
              <input class="skill__button" type="submit" name="button_python" value="SHOW PROJECT">
            </li>
            <li class="skills-list__skill skill">
              <img
                class="skill__img"
                src="../static/img/discord.png"
                alt="discord"
                width="150"
                height="150"
              />
              <span class="skill__info">discord-проект</span>
              <input class="skill__button" type="submit" name="button_discord" value="SHOW PROJECT">
            </li>
            <li class="skills-list__skill skill">
              <img
                class="skill__img"
                src="../static/img/html.png"
                alt="html"
                width="150"
                height="150"
              />
              <span class="skill__info">html-проект</span>
              <input class="skill__button" type="submit" name="button_html" value="SHOW PROJECT">
            </li>
            <li class="skills-list__skill skill">
              <img
                class="skill__img"
                src="../static/img/db.png"
                alt="SQL"
                width="150"
                height="150"
              />
              <span class="skill__info">Б.Д.-проект</span>
              <input class="skill__button" type="submit" name="button_db" value="SHOW PROJECT">
            </li>
          </ul>
        </form>
        {% if button_python%}
          <div class="skills__project project" id="project">
              <img class="project__img" src="../static/img/python-project.png" alt="project" width="600">
              <a class="project__link" href="https://github.com/coldboxcoldbox/-3--2">Открыть на GitHub</a>
          </div>
          {% endif %}
        {% if button_discord%}
          <div class="skills__project project" id="project">
              <img class="project__img" src="../static/img/discord_project.png" alt="project" width="800">
              <a class="project__link" href="https://github.com/coldboxcoldbox/-1-4">Открыть на GitHub</a>
          </div>
          {% endif %}
        {% if button_html%}
          <div class="skills__project project" id="project">
              <img class="project__img" src="../static/img/html_project.png" alt="project" width="800">
              <a class="project__link" href="https://github.com/coldboxcoldbox/-">Открыть на GitHub</a>
          </div>
          {% endif %}
        {% if button_db%}
          <div class="skills__project project" id="project">
              <img class="project__img" src="../static/img/db_project.png" alt="project" width="800">
              <a class="project__link" href="https://github.com/coldboxcoldbox/m4e3">Открыть на GitHub</a>
          </div>
          {% endif %}

      </section>
      <!-- Секция с формой обратной связи -->
      <section class="main__feedback feedback" id="feedback">
        <h2 class="feedback__title">FEEDBACK</h2>
        <form action="/submit" method="POST" class="feedback__form form">
          <label for="email">
            <input type="email" class="form__input" name="email" id="email" placeholder="Введите E-mail" required>
          </label>
          <label for="text">
            <textarea name="text" class="form__input" id="text" cols="70" rows="10" required placeholder="Комментарий"></textarea>
          </label>
          <button class="form__button" type="submit">ОТПРАВИТЬ</button>
        </form>
      </section>
    </main>
    <!-- Подвал для ссылок на соц-сети -->
    <footer>
      <div class="footer__social">
        <a class="footer__link" href="https://github.com/coldboxcoldbox" target="_blank">
          <img src="../static/img/github.png" alt="Github" width="89" height="100">
        </a>
      </div>
    </footer>
  </body>
</html>
